@import '../../Styles/global.scss';

.bubble-sort-container{
    flex-direction : column;
    height : 100%;
}

.bubble-sort-button{
    margin-top : 60px;
}

.pillars-container{

    align-items :flex-end;
}